/* Regel 1 */
p1 { color: green; }
/* Regel 2 */
#kurzbeschreibung p.hervorgehoben {
color: blue;
}
/* Regel 3 */
section#kurzbeschreibung p { color: orange; }
/* Regel 4 */
p.hervorgehoben { color: red; }